SignatoryHotel.WebUI/Web References/xsession/xsession.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAthenticated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionTick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cwid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAthenticatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAthenticatedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAthenticatedEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionTick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cwid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAthenticatedExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAthenticatedExResult" type="tns:validateResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="validateResult">
        <s:restriction base="s:string">
          <s:enumeration value="LOGIN_USER_OK" />
          <s:enumeration value="LOGIN_USER_DOESNT_EXIST" />
          <s:enumeration value="LOGIN_USER_CWID_INCORRECT" />
          <s:enumeration value="LOGIN_USER_SESSION_EXPIRED" />
          <s:enumeration value="LOGIN_USER_DELFLAG_TRUE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="newSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cwid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sysCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="newSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionTick" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModelResult" type="tns:xSession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="xSession">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CWID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SessionGUID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpiredDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionIP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SessionSysCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="flagDelete" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSysCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionTick" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSysCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSysCodeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="validateResult" type="tns:validateResult" />
      <s:element name="xSession" nillable="true" type="tns:xSession" />
      <s:element name="int" type="s:int" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedSoapIn">
    <wsdl:part name="parameters" element="tns:IsAthenticated" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedSoapOut">
    <wsdl:part name="parameters" element="tns:IsAthenticatedResponse" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedExSoapIn">
    <wsdl:part name="parameters" element="tns:IsAthenticatedEx" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedExSoapOut">
    <wsdl:part name="parameters" element="tns:IsAthenticatedExResponse" />
  </wsdl:message>
  <wsdl:message name="newSessionSoapIn">
    <wsdl:part name="parameters" element="tns:newSession" />
  </wsdl:message>
  <wsdl:message name="newSessionSoapOut">
    <wsdl:part name="parameters" element="tns:newSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapIn">
    <wsdl:part name="parameters" element="tns:GetModel" />
  </wsdl:message>
  <wsdl:message name="GetModelSoapOut">
    <wsdl:part name="parameters" element="tns:GetModelResponse" />
  </wsdl:message>
  <wsdl:message name="GetSysCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetSysCode" />
  </wsdl:message>
  <wsdl:message name="GetSysCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetSysCodeResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedHttpGetIn">
    <wsdl:part name="sessionTick" type="s:string" />
    <wsdl:part name="cwid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedExHttpGetIn">
    <wsdl:part name="sessionTick" type="s:string" />
    <wsdl:part name="cwid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedExHttpGetOut">
    <wsdl:part name="Body" element="tns:validateResult" />
  </wsdl:message>
  <wsdl:message name="newSessionHttpGetIn">
    <wsdl:part name="cwid" type="s:string" />
    <wsdl:part name="sysCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="newSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetModelHttpGetIn">
    <wsdl:part name="sessionTick" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModelHttpGetOut">
    <wsdl:part name="Body" element="tns:xSession" />
  </wsdl:message>
  <wsdl:message name="GetSysCodeHttpGetIn">
    <wsdl:part name="sessionTick" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSysCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedHttpPostIn">
    <wsdl:part name="sessionTick" type="s:string" />
    <wsdl:part name="cwid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedExHttpPostIn">
    <wsdl:part name="sessionTick" type="s:string" />
    <wsdl:part name="cwid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsAthenticatedExHttpPostOut">
    <wsdl:part name="Body" element="tns:validateResult" />
  </wsdl:message>
  <wsdl:message name="newSessionHttpPostIn">
    <wsdl:part name="cwid" type="s:string" />
    <wsdl:part name="sysCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="newSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetModelHttpPostIn">
    <wsdl:part name="sessionTick" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetModelHttpPostOut">
    <wsdl:part name="Body" element="tns:xSession" />
  </wsdl:message>
  <wsdl:message name="GetSysCodeHttpPostIn">
    <wsdl:part name="sessionTick" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSysCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="xSessionSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <wsdl:input message="tns:IsAthenticatedSoapIn" />
      <wsdl:output message="tns:IsAthenticatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <wsdl:input message="tns:IsAthenticatedExSoapIn" />
      <wsdl:output message="tns:IsAthenticatedExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <wsdl:input message="tns:newSessionSoapIn" />
      <wsdl:output message="tns:newSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:input message="tns:GetModelSoapIn" />
      <wsdl:output message="tns:GetModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <wsdl:input message="tns:GetSysCodeSoapIn" />
      <wsdl:output message="tns:GetSysCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="xSessionHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <wsdl:input message="tns:IsAthenticatedHttpGetIn" />
      <wsdl:output message="tns:IsAthenticatedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <wsdl:input message="tns:IsAthenticatedExHttpGetIn" />
      <wsdl:output message="tns:IsAthenticatedExHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <wsdl:input message="tns:newSessionHttpGetIn" />
      <wsdl:output message="tns:newSessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:input message="tns:GetModelHttpGetIn" />
      <wsdl:output message="tns:GetModelHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <wsdl:input message="tns:GetSysCodeHttpGetIn" />
      <wsdl:output message="tns:GetSysCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="xSessionHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <wsdl:input message="tns:IsAthenticatedHttpPostIn" />
      <wsdl:output message="tns:IsAthenticatedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <wsdl:input message="tns:IsAthenticatedExHttpPostIn" />
      <wsdl:output message="tns:IsAthenticatedExHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <wsdl:input message="tns:newSessionHttpPostIn" />
      <wsdl:output message="tns:newSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <wsdl:input message="tns:GetModelHttpPostIn" />
      <wsdl:output message="tns:GetModelHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <wsdl:input message="tns:GetSysCodeHttpPostIn" />
      <wsdl:output message="tns:GetSysCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="xSessionSoap" type="tns:xSessionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <soap:operation soapAction="http://tempuri.org/IsAthenticated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <soap:operation soapAction="http://tempuri.org/IsAthenticatedEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <soap:operation soapAction="http://tempuri.org/newSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap:operation soapAction="http://tempuri.org/GetModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <soap:operation soapAction="http://tempuri.org/GetSysCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="xSessionSoap12" type="tns:xSessionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <soap12:operation soapAction="http://tempuri.org/IsAthenticated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <soap12:operation soapAction="http://tempuri.org/IsAthenticatedEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <soap12:operation soapAction="http://tempuri.org/newSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <soap12:operation soapAction="http://tempuri.org/GetModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <soap12:operation soapAction="http://tempuri.org/GetSysCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="xSessionHttpGet" type="tns:xSessionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <http:operation location="/IsAthenticated" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <http:operation location="/IsAthenticatedEx" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <http:operation location="/newSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <http:operation location="/GetModel" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <http:operation location="/GetSysCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="xSessionHttpPost" type="tns:xSessionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticated">
      <http:operation location="/IsAthenticated" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAthenticatedEx">
      <http:operation location="/IsAthenticatedEx" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newSession">
      <http:operation location="/newSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModel">
      <http:operation location="/GetModel" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSysCode">
      <http:operation location="/GetSysCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="xSession">
    <wsdl:port name="xSessionSoap" binding="tns:xSessionSoap">
      <soap:address location="http://cn-webapp01.ap.ads.lanxess:6666/webservice/xsession.asmx" />
    </wsdl:port>
    <wsdl:port name="xSessionSoap12" binding="tns:xSessionSoap12">
      <soap12:address location="http://cn-webapp01.ap.ads.lanxess:6666/webservice/xsession.asmx" />
    </wsdl:port>
    <wsdl:port name="xSessionHttpGet" binding="tns:xSessionHttpGet">
      <http:address location="http://cn-webapp01.ap.ads.lanxess:6666/webservice/xsession.asmx" />
    </wsdl:port>
    <wsdl:port name="xSessionHttpPost" binding="tns:xSessionHttpPost">
      <http:address location="http://cn-webapp01.ap.ads.lanxess:6666/webservice/xsession.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>